.label{
    -fx-background-color: black;
    -fx-text-fill: white;
}
.button {
    -fx-background-color: black;
    -fx-effect: dropshadow(one-pass-box, #7CA1BB, 10, 0.0, 5.0, -5.0);
    -fx-text-fill: red;

}

.button:pressed{
    -fx-effect: dropshadow(one-pass-box, white, 10, 1, 5.0, -5.0);
}


